/* * {
    background-color: rgb(115, 138, 186);
} */

/* Loading animation */
#loadingIcon{
    text-align: center;
    margin-top: 15em;
}

/* Map styling */
#map {
    height: 500px;
}


/* Coordinates Button Styling */
#coordButton{
    background-color: rgb(55, 153, 55);
}

/* Set to change color on hover */
#coordButton:hover{
    background-color: rgb(82, 210, 82);
}